@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import './scroll.css';

@import './fonts.css';

@custom-variant dark (&:where(.dark, .dark *));

.h50{
    height: -2rem;
}

.transparent{
    background-color: transparent;
}

.inline{
    display: inline;
}

.space-around{
    justify-content: space-around;
}

.shadow{
    box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.500);
}

.max-w{
    max-width: 20rem;
}

.height{
    height: 1000px;
}


body{
    background-image: url("https://imgs.search.brave.com/ko2Q7ZOGLlqvLvF_YRANMCfq0u33Z5RmFO9DCe4WCQw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/cHJvZC53ZWJzaXRl/LWZpbGVzLmNvbS81/YTllZTY0MTZlOTBk/MjAwMDFiMjAwMzgv/NjI4OWYwYmZhOTIw/YTk1OGYyYjQxNmY3/X2JsYWNrLWdyYWRp/ZW50LnBuZw");
    background-size: cover;
}

.bg-black{
    background-color: black;
}

.tx-white{
    color: white;
}

.tx{
    font-size: 4rem;
}

.dark\:bg-black:is(.dark *){
    background-color: black;
}

.dark\:tx:is(.dark *){
    color: white;
}

@media (min-width: 1024px){
    .pd{
        padding: 1.25rem 0;
    }
}